<div >
    <div class="row">
        <div class="col s12">
          <ul class="tabs blue darken-1">
            <li class="tab col s3 m6" ><a class="white-text active" href="#MyProd" >My Products</a></li>
            <li class="tab col s3 m6"><a class="white-text" href="#Queue">Queue</a></li>
          </ul>
        </div>
        <div id="MyProd" class="col s12">
          <div class="">
            <div class="row" id="prod_disp">
              <!-- PRODUCTS WILL BE LISTED HERE -->
            </div>
          </div>
          <div class="fixed-action-btn">
            <a class="btn-floating btn-large red" title="More Options">
              <i class="large material-icons">eject</i>
            </a>
            <ul>
              <li><a class="btn-floating red modal-trigger waves-effect waves-light" href="#addProd" title="Add New Product"><i class="material-icons">add_circle_outline</i></a></li>
              <!--li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
              <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
              <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li-->
            </ul>
          </div>
        </div>
        <div id="Queue" class="col s12">Test 2</div>
      </div>
</div>

<!-- Add Product Modal -->
  <!-- Modal Structure -->
  <div id="addProd" class=" modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Add Product</h4>
      <p>*All Fields are Mandatory</p>
      <div class="row">
        <form class="col s12" id="addProdfrm" method="POST" action="/addProduct" enctype="multipart/form-data">
          <div class="row">
            <div class="input-field col s12 m8">
              <input name="prod_name" type="text" placeholder="Product Name"  class="validate" required>
            </div>
            <div class="input-field col s12 m4">
              <input name="price" type="number" placeholder="Product Price"  class="validate" required>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <input name="min_qty" type="number" placeholder="Minimum Quantity"  class="validate" required>
            </div>
            <div class="input-field col s12 m6">
              <input name="max_qty" type="number" placeholder="Maximum Quantity"  class="validate" required>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <select name="prod_cat" class="validate" required>
                <option value="" selected>Choose Product Category</option>
                <option value="1">Measurable Quantity</option>
                <option value="2">Liqued</option>
                <option value="3">Unit</option>
              </select>
              <label>Materialize Select</label>
            </div>
            <div class="col m6">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Choose Product Image</span>
                  <input type="file" name="ProdPic" required>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" required>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="Submit" class="modal-close waves-effect waves-green btn-flat" onclick="Add_prod()">Add Product</button>
    </div>
  </div> 

  <!--  Update Product Modal -->
  <div id="updProd" class=" modal modal-fixed-footer">
    <div class="modal-content">
      <div class="row">
        <div class="col s10 m10">
          <h4>Update Product</h4>
          <p>*All Fields are Mandatory</p>
        </div>
        <div class="col m2 s2">
          <img class="responsive-img" alt="Product_Image" id="pimg">
        </div>
      </div>
      <div class="row">
        <form class="col s12" id="updProdfrm" method="POST" action="/updateProduct">
          <div class="row">
            <div class="input-field col s12 m8">
              <input name="prod_name" type="text" placeholder="Product Name" id="pnm"  class="validate" required>
              <label for="pnm">Product Name</label>
            </div>
            <div class="input-field col s12 m4">
              <input name="price" type="number" placeholder="Product Price" id="ppr"  class="validate" required>
              <label for="ppr">Product Price</label>
            </div>
          </div>
          <input type="hidden" id="pid" name="pid" readonly>
          <div class="row">
            <div class="input-field col s12 m6">
              <input name="min_qty" type="number" placeholder="Minimum Quantity" id="miq"  class="validate" required>
              <label for="miq">Min Quantity can Order</label>
            </div>
            <div class="input-field col s12 m6">
              <input name="max_qty" type="number" placeholder="Maximum Quantity" id="mxq"  class="validate" required>
              <label for="ppr">Max Quantity can Order</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="Submit" class="modal-close waves-effect waves-green btn-flat" onclick="upd_prod()">Update Product</button>
    </div>
  </div> 
  


<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });

  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });

  $(document).ready(function(){
    $('.modal').modal();
  });

  $(document).ready(function(){
    $('select').formSelect();
  });

  function Add_prod(){
    inp = document.getElementById('addProdfrm').getElementsByTagName('input')
    for (i = 0; i < inp.length; i++) {
        if(inp[i].value == ""){
          M.toast({html: '<Strong>All fields are mandatory</strong>',classes:"red"})
          return
        }
    }
    $('#addProdfrm').submit();
  }
  function upd_prod(){
    
    $('#updProdfrm').submit();
  }
</script>

<script>
  let prod = ("<%= products %>");
  prod = prod.split("&#34;").join('"')
  prod = JSON.parse(prod)
  for(i=0;i<prod.length;i++){
    let html = `
              <div class="col s6 m3">
                <div class="card hoverable">
                  <div class="card-image">
                    <img class="responsive-img" style="height:150px" src="`+prod[i].product_img+`">
                  </div>
                  <div class="card-content">
                    <span class="card-title">`+prod[i].product_name+`</span>
                    <p>Price : `+prod[i].product_price+`</p>
                    <ul>
                      <li>Product Category : `+prod[i].product_cat+`</li>
                      <li>Minimum Quantity Can Order : `+prod[i].product_min_qty+`</li>
                      <li>Maximum Quantity Can Order : `+prod[i].product_max_qty+`</li>
                    </ul>
                  </div>
                  <div class="card-action">
                    <a class="waves-effect waves-light btn-small col s5 m5" style="background-color:#d50000" href="/removeProduct?id=`+prod[i]._id+`">Remove Product</a>
                    <a class="waves-effect waves-light btn-small col s5 m5" style="margin-left:10px; background-color:#ffa000" onclick="updateProduct(`+i+`)">Update Product</a>
                  </div>
                </div>
              </div>
    `
    $('#prod_disp').append(html)
  }

  function updateProduct(ind){
    $("#pid").val(prod[ind]._id)
    $("#pnm").val(prod[ind].product_name)
    $("#mxq").val(prod[ind].product_max_qty)
    $("#miq").val(prod[ind].product_min_qty)
    $("#ppr").val(prod[ind].product_price)
    $("#pimg").attr("src", prod[ind].product_img)
    $('#updProd').modal('open');
  }
</script>
