<div class="card blue darken-2"  style="max-width: 600px;margin: auto;margin-top: 50px;" >
    <!-- Card Header -->
    <div class="card-content white-text">
        <div class="row">
            <div class="col s9 m9 l9">
                <p style="text-align: center;font-weight: bold;font-size: 15pt;">Queue Management System</p>
            </div>
            <div class="col s3 m3 l3">
                <p class="left">
                    <label>
                      <input class="with-gap validate" required name="type" type="radio" onchange="t_name('Shop')" />
                      <span class="white-text">Shop   </span>
                    </label>
                    <label>
                        <input class="with-gap validate" required name="type" type="radio"  onchange="t_name('Queue')"/>
                        <span class="white-text">Queue</span>
                    </label>
                  </p>
            </div>
        </div>
    </div>

    <!-- Card Tabs -->
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width tabs-transparent">
        <li class="tab"><a class="active" href="#login">Login To <span id="lgn"></span></a></li>
        <li class="tab"><a  href="#reg">Add New <span id="name"></span></a></li>
      </ul>
    </div>
    <div class="card-content blue lighten-5">
      <!-- Login Tab -->
      <div id="login">
            <form class="col s12" method="POST" action="/login" id="loginform">
                <div class="row">
                    <div class="input-field col s12">
                      <select required  name="sys_name" id="sys_name_l">
                        <option value="" disabled selected>Select</option>
                      </select>
                      <label for="sys_name_l"><span class="sys"></span> Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="pass" name="password" type="password" class="validate" required>
                        <label for="pass">Password</label>
                    </div>
                    <input type="hidden" class="sys_type" name="sys_type">
                    <button class="waves-effect waves-light btn-small col s8 m8 l8 blue darken-2 offset-s2 offset-m2 offset-l2" >Login</button>
                </div>
            </form>
      </div>
      
      <!-- Registration Tab -->
      <div id="reg">
          <div class="row">
            <form class="col s12" method="POST" action="register" id="regform">
              <div class="row">
                <div class="input-field col s6">
                  <input id="owner_name" type="text" name="owner_name" class="validate" required>
                  <label for="owner_name" >Owner Name</label>
                </div>
                <div class="input-field col s6">
                  <input id="sys_name" type="text" name="sys_name" class="validate" required>
                  <label for="sys_name"><span class="sys"></span> Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input id="email" type="email" name="email" class="validate" required>
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s6">
                    <input id="mobile" type="number" name="mobile" class="validate" required>
                    <label for="mobile">Mobile</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input id="password" type="password" name="password" class="validate" required>
                  <label for="password">Password</label>
                </div>
                <div class="input-field col s6">
                    <input id="cpassword" type="password" name="cpassword" class="validate" required>
                    <label for="cpassword">Confirm Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s10 l10 m10">
                  <input id="tokens" type="password" name="access_token" class="validate" required> 
                  <label for="tokens">Access Tokens</label>
                </div>
                <div class="col s2 l2 m2">
                  <a class="waves-effect waves-light btn modal-trigger blue" href="#thememodal">Theme</a>
                  <input type="hidden" id="themec" name="theme" value="blue">
                </div>
              </div>
              <input type="hidden" class="sys_type" name="sys_type">
              <button class="waves-effect waves-light btn-small col s8 m8 l8 blue darken-2 offset-s2 offset-m2 offset-l2">Register</button>
            </form>
          </div>        
      </div>
    </div>
  </div>

  <div id="thememodal" class="modal">
    <div class="modal-content blue lighten-5">
      <h4>Choose Theme</h4>
      <div class="row">
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #f44336;" onclick="pre_theme('red')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #e91e63;" onclick="pre_theme('pink')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #9c27b0;" onclick="pre_theme('purple')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #673ab7;" onclick="pre_theme('deep-purple')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #3f51b5;" onclick="pre_theme('indigo')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" onclick="pre_theme('blue')" style="background-color: #2196f3;"><i class="material-icons left">invert_colors</i></a>
        </div>
      </div>
      <div class="row">
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #03a9f4;" onclick="pre_theme('light-blue')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #00bcd4;" onclick="pre_theme('cyan')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #009688;" onclick="pre_theme('teal')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #4caf50;" onclick="pre_theme('green')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #8bc34a;" onclick="pre_theme('light-green')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #cddc39;" onclick="pre_theme('lime')"><i class="material-icons left">invert_colors</i></a>
        </div>
      </div>
      <div class="row">
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #ffeb3b;" onclick="pre_theme('yellow')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #ffc107;" onclick="pre_theme('amber')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #ff9800;" onclick="pre_theme('orange')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #ff5722;" onclick="pre_theme('deep-orange')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #795548;" onclick="pre_theme('brown')"><i class="material-icons left">invert_colors</i></a>
        </div>
        <div class="col l2 m2 sm">
          <a class="btn" style="background-color: #607d8b;" onclick="pre_theme('blue-grey')"><i class="material-icons left">invert_colors</i></a>
        </div>
      </div>
    </div>
    <div class="modal-footer blue darken-2">
      <a  class="modal-close waves-effect waves-green btn-flat white-text">Choose</a>
    </div>
  </div>


  
  <script>
        // Initialise materialize Components
        $(document).ready(function(){
            let opt = {swipeable:true}
            $('.tabs').tabs();
            $('select').formSelect({classes:"validate"});
            M.toast({html: '<Strong>Please select system type : Queue/Shop</strong>',classes: readCookie("theme")})
          });
        
        // Toggle System Type
        function t_name(name){
            $("#name").html(name);
            $("#lgn").html(name);
            $(".sys").html(name);
            $(".sys_type").val(name);             
        }

        //Login Form Validation
        const frm = document.getElementById("loginform");
        frm.addEventListener('submit', function (event){
            if($(".sys_type").val() == "")
            {
                M.toast({html: '<Strong>Please select system type : Queue/Shop</strong>',classes: readCookie("theme")})
                event.preventDefault();
            }
        })

        // Registration Form Validation
        const regfrm = document.getElementById("regform");
        regfrm.addEventListener('submit', function (event){
            if($(".sys_type").val() == "")
            {
                M.toast({html: '<Strong>Please select system type : Queue/Shop</strong>',classes: readCookie("theme")})
                event.preventDefault();
            }
        })

        // Function to Fetch Shop Names in Select Tag
        function fetch_shopNames(){
          let shop_names = "<%- shop_names %>".split(",")
          shop_names.forEach((element,ind) => {
            console.log(element)
            if(element != ""){
              $('#sys_name_l').append("<option value='"+element.toString()+"'>"+element+"</option>");
            }
          });
          console.log(shop_names)
        }

        fetch_shopNames()

        function pre_theme(col){
          console.log(col)
          change_theme(readCookie("theme"),col)
          document.cookie = "theme="+col;
          $("#themec").val(col);
        }
  </script>

